# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [5]:
# Import libraries
import numpy as np
import pandas as pd

In [6]:
# Importing the dataset
pokemon= pd.read_csv ('Pokemon.csv')

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon.shape

(800, 13)

In [7]:
pokemon_highest_total= pokemon[pokemon['Total'] == pokemon['Total'].max()]
pokemon_highest_total

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [8]:
pokemon_grouped = pokemon.groupby('Name').agg({'HP': 'sum', 'Attack': 'sum' ,'Defense': 'sum', 'Sp. Atk':'sum', 'Sp. Def': 'sum', 'Speed': 'sum' }).reset_index()

pokemon_grouped

                        Name   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0                  Abomasnow   90      92       75       92       85     60
1    AbomasnowMega Abomasnow   90     132      105      132      105     30
2                       Abra   25      20       15      105       55     90
3                      Absol   65     130       60       75       60     75
4            AbsolMega Absol   65     150       60      115       60    115
..                       ...  ...     ...      ...      ...      ...    ...
795                  Zoroark   60     105       60      120       60    105
796                    Zorua   40      65       40       80       40     65
797                    Zubat   40      45       35       30       40     55
798                 Zweilous   72      85       70       65       70     58
799         Zygarde50% Forme  108     100      121       81       95     95

[800 rows x 7 columns]

In [9]:
pokemon_grouped ['Total']= pokemon_grouped['HP'] + pokemon_grouped ['Attack'] + pokemon_grouped ['Defense'] + pokemon_grouped ['Sp. Atk'] + pokemon_grouped ['Sp. Def'] + pokemon_grouped ['Speed']

pokemon_grouped

,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,Abomasnow,90,92,75,92,85,60,494
1,AbomasnowMega Abomasnow,90,132,105,132,105,30,594
2,Abra,25,20,15,105,55,90,310
3,Absol,65,130,60,75,60,75,465
4,AbsolMega Absol,65,150,60,115,60,115,565
...,...,...,...,...,...,...,...,...
795,Zoroark,60,105,60,120,60,105,510
796,Zorua,40,65,40,80,40,65,330
797,Zubat,40,45,35,30,40,55,245
798,Zweilous,72,85,70,65,70,58,420
799,Zygarde50% Forme,108,100,121,81,95,95,600

In [10]:
pokemon_grouped_highest_total= pokemon_grouped[pokemon_grouped['Total'] == pokemon_grouped['Total'].max()]
pokemon_grouped_highest_total

,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
449,MewtwoMega Mewtwo X,106,190,100,154,100,130,780
450,MewtwoMega Mewtwo Y,106,150,70,194,120,140,780
558,RayquazaMega Rayquaza,105,180,100,180,100,115,780

In [11]:
null_values= pokemon_grouped ['Total'].isnull().sum ()

print (null_values)

0

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed.

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [12]:
# your code here

pokemon_encoded = pd.get_dummies(pokemon, columns= ['Type 1', 'Type 2'])
pokemon_filtered= pokemon_encoded.filter(like='_')
pokemon_filtered.columns= pokemon_filtered.columns.str.split ('_').str[1]
pokemon_filtered_cleaned = pokemon_filtered.loc[:,~pokemon_filtered.columns.duplicated()]
pokemon_filtered_cleaned.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [13]:
# your code here

pokemon_total= pokemon_grouped['Total']

pokemon_relation = pokemon_filtered_cleaned.merge ( pokemon_total, left_index = True, right_index=True, how='inner')

pokemon_relation

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,494
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,594
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,310
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,465
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,510
796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,330
797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,245
798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,420
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,600

In [14]:
list_types = [col for col in pokemon_relation.columns if col != 'Total']
print(list_types)

['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water']

In [68]:
pokemon_correlation= {}

for types in list_types:
  correlation= pokemon_relation ['Total'].corr(pokemon_relation[types])
  pokemon_correlation[types]=correlation

for types, correlation in pokemon_correlation.items():
  print (f"Correlation between Total and {types}: {correlation}")

Correlation between Total and Bug: -0.02614919296478301
Correlation between Total and Dark: 0.044181370132936396
Correlation between Total and Dragon: -0.01406153852144207
Correlation between Total and Electric: 0.04772272096172172
Correlation between Total and Fairy: 0.01288743867381226
Correlation between Total and Fighting: -0.02383186378553209
Correlation between Total and Fire: 0.043040632349500445
Correlation between Total and Flying: 0.05064216856357641
Correlation between Total and Ghost: -0.04066502444819027
Correlation between Total and Grass: -0.0369053804550206
Correlation between Total and Ground: -0.0035265580944497496
Correlation between Total and Ice: 0.05718077291611343
Correlation between Total and Normal: 0.017234781245739888
Correlation between Total and Poison: 0.016233040455962865
Correlation between Total and Psychic: -0.07327450598771454
Correlation between Total and Rock: -0.009764615044262234
Correlation between Total and Steel: -0.04727299395427364
Correlation between Total and Water: 0.02669857729635561

In [69]:
pokemon_correlation

{'Bug': -0.02614919296478301,
 'Dark': 0.044181370132936396,
 'Dragon': -0.01406153852144207,
 'Electric': 0.04772272096172172,
 'Fairy': 0.01288743867381226,
 'Fighting': -0.02383186378553209,
 'Fire': 0.043040632349500445,
 'Flying': 0.05064216856357641,
 'Ghost': -0.04066502444819027,
 'Grass': -0.0369053804550206,
 'Ground': -0.0035265580944497496,
 'Ice': 0.05718077291611343,
 'Normal': 0.017234781245739888,
 'Poison': 0.016233040455962865,
 'Psychic': -0.07327450598771454,
 'Rock': -0.009764615044262234,
 'Steel': -0.04727299395427364,
 'Water': 0.02669857729635561}

The highest correlation among the Pokemon types and the "Total" attribute is 0.057, and it corresponds to the "Ice" type. This positive correlation suggests that Pokemon of the "Ice" type are more likely to have higher "Total" stats compared to other types in the dataset.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [100]:
pokemon_Type1= list(set(pokemon['Type 1']))
pokemon_Type2 =list(set(pokemon['Type 2']))

def fpokemon_correlation(pokemon_list_type, correlation_dict):
    pokemon_correlation_type = {}
    for item in pokemon_list_type:
        if item in correlation_dict:
            pokemon_correlation_type[item] = correlation_dict[item]
    return pokemon_correlation_type

def mean_type (correlation_dicts_type):
    values= list (correlation_dicts_type.values())
    mean_value_type =sum (values)/len (values)
    return mean_value_type

def higher_mean (mean_value_1, mean_value_2) :
    if mean_value_1 < mean_value_2:
        return ("The type 1's mean correlation", mean_value_1, " is higher than the type 2's ", mean_value_2 )
    else:
        return ("The type 2's mean correlation", mean_value_2, " is higher than the type 1's ", mean_value_1 )

In [101]:
correlation_type_1= fpokemon_correlation (pokemon_Type1, pokemon_correlation)

correlation_type_2 = fpokemon_correlation (pokemon_Type2, pokemon_correlation)

mean_value_type_1 = mean_type (correlation_type_1)

mean_value_type_2 = mean_type (correlation_type_2)

higher_mean (mean_value_type_1,mean_value_type_2 )

("The type 1's mean correlation",
 0.0022427682966694898,
 " is higher than the type 2's ",
 0.0022427682966694915)

Based on the results above, i will choose Type 1 because the mean correlation between each power and the total of skills is higher than in Type 2.